
.plot{

    width:40%;
   
}
.srcdetail{
    display: flex;
    flex-direction:row;
}
.fmap {
    position: absolute;
    visibility: hidden;
    color:rgb(243, 190, 55);
    left: 70px;
    color: #fff;
    font-size: .8em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
}
td:hover .fmap {
    visibility: visible;
    transition: visibility 0s .2s;
}   
.navbar-brand{
   
    background-size:  contain;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 15px 32px;
}

.flex-container{
    display: flex;
    flex-direction:row;
}

.p-5{
    font-size: 14px;
    background-color: #F8F9FA;
    margin-top:30px;
    width:70%;
    line-height:50px;
    padding:20px;
    height:30%;
    opacity: 0.80;
    border-color: #346e7a;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    
    box-shadow: 0px 0px 9px #EBEBEB;
    -webkit-box-shadow: 0px 0px 9px #EBEBEB;
    -moz-box-shadow: 0px 0px 9px #EBEBEB;
    
}

.item3{
    margin-left: 10px;
    
}
.item2{
    width:500px;
    margin-left: 10px;
}
.item4{
    margin-left:10px;
}

.topbar{
    
    box-shadow: -5px -1px 18px #333333;
    -webkit-box-shadow: -5px -1px 18px #333333;
    -moz-box-shadow: -5px -1px 18px #333333;

}

.carousel{
   
    width:50%;
}