
.setpoint{
    width:50px ;padding:50px ;border: 1px dashed blue;margin-top:10px;margin-left : 500px;
}


.back {
  background-image:url("/static/back11.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-color: black;
}

 .body {
    width: 600px;
    height:500px;
    background-color:rgb(0, 0, 0);    
    border: 10px solid greenyellow;
    color:rgb(108, 179, 2); 
    font-family:"微軟正黑體"; 
    border-radius:80px;

    position: absolute;/*定在左上角*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);/*隨視窗調整*/ 

    transition: all .1s linear;
    box-shadow: inset 0 0 0 0 transparent;

  }
.body:hover{
    cursor: pointer;
    border: 15px solid greenyellow;
    box-shadow: inset 0 0 6px 2px RoyalBlue;
 }


.img {
    display: block; /*定位*/
    margin: 0 auto;/*定位*/

    top: 100%;
    left:25%;
    transform: translate(0, 50%);/*以上三個都要留著調整*/

    width: 400px;
  }

.flex{
    display:flex;/*區塊123，flex:分配寬度、order:自由排序*/
    justify-content:center;/*主軸中間、space-around;平均寬度、*/ 
    /*flex-direction:columns、row以欄或列排序*/
    /*align-items:flax-center次軸置中*/

    font-size: 30px; 
    letter-spacing: 20px;  
    margin:auto;
    font-weight:bold;
    position: absolute;
    top: 43%;
    left:23%;

    transform: translate(0, 0);
    color:rgb(255, 253, 253);/*標語的字*/
  }

/*https://www.zendei.com/article/7797.html*/

.center-in-center{
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(0, 0);
    border: 2px solid greenyellow;
    border-radius:20px;
    font-size: 40; 

    transition: all .3s linear;
    background-color:transparent;
    color:greenyellow; 
}
.center-in-center:hover{
    color:rgb(255, 255, 255);
    background-color:rgb(108, 179, 2);
    border: 1px solid greenyellow;
    cursor: pointer;
}

.center-in-center2{
    position: absolute;
    top: 60%;
    left:16%;
    transform: translate(0, 0);
    border: 2px solid greenyellow;
    border-radius:20px;
    font-size: 40; 
    
    transition: all .3s linear;
    background-color:transparent;
    color:greenyellow; 
}
.center-in-center2:hover{
    color:rgb(255, 255, 255);
    background-color:rgb(108, 179, 2);
    border: 1px solid greenyellow;
    cursor: pointer;
}

.quote{
  position: absolute;/*絕對:定在左上角*/
  top: 10%;
  left: 51%;
  transform: translate(-50%,-50%);/*隨視窗調整*/ 
    
  font-size: 50px;
  color: rgb(255, 255, 255); 
  font-family: "微軟正黑體";  
  opacity: 0.5;
}

