<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <body>
        <div class="topbar" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <img src="../static/okwhite2.png" class="navbar-brand" href="#"></img>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a style="font-size: 18px;"class="nav-link active" aria-current="page" href="/">首頁</a>
                      </li>
                      <li class="nav-item">
                        <a style="font-size: 18px;"class="nav-link" href="index">實價登錄</a>
                      </li>
                      <li class="nav-item">
                        <a style="font-size: 18px;"class="nav-link" href="#">區域分析</a>
                      </li>
                      
                    </ul>
                    
                    <span class="navbar-text">
                      資料取自於內政部實價登錄
                    </span>
                  </div>
                </div>
              </nav>  
        </div>
<div class="backmap">
        <embed
                width="100%"
                height="100%"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src=../resource/test.html
                allowfullscreen>
        </embed>
</div>
    </body>


<html>

<style>
      .topbar{
        background-color: rgb(0, 0, 0);
        box-shadow: -5px -1px 18px #333333;
        -webkit-box-shadow: -5px -1px 18px #333333;
        -moz-box-shadow: -5px -1px 18px #333333;

    }
    .backmap{
        background-color: #333333;
        height: 100%;
        width: 70%;
    }