
<html  style="color: black;" class="back" >

    <div><!--沒有無痕視窗測試時才會用到
        <img src="/static/back8.jpg" width="100%" class="img">
    </div>-->

    <head>
        <link rel="shortcut icon" href="/static/1651852388.ico" />
        <title>給您最OK的房屋👌</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>  

    <div class="quote">
        <p>How do I find my perfect home ?</p>
    </div>

<body style=" background-repeat:no-repeat;background-size:cover;"background="/static/back11.jpeg">
    <div class="body" >
        <img src="/static/LOGO2.jpg" class="img">
        <p class="flex">給您最👌的房屋</p>
        
        <form action="/house_forecast">
            <input class="center-in-center" type="submit" value="房價預測" >
        </form>

        <form action="/index">
            <input class="center-in-center2" type="submit" value="實價查詢" >
        </form>                
    </div>  

</body>

</html>



<!-- 
    影片https://www.youtube.com/watch?v=LOjUnXk_TNU
    共用筆記https://bejewled-air-4cb.notion.site/20-VSCode-Coding-6e35278e50a0488faa027461940240f0
    c + /  = 註解
    c + \  = 同檔開兩個視窗
    c + +- = 放大縮小
    c + D = 選取多個同樣字同時更改
    c + P = 搜尋檔名 (:搜尋行 / @搜尋變數)
    a + 上下 = 移動
    F1 + F1 =依照次數選取整行整個數值 
    選字 + F2 = 同時改一樣的字(不用一直c+D) / 在標籤用可以找到配對的標籤
    重構 = 將重複的函式用函數包起來
    

    Code Spell Checker 檢視錯字神器
    indent-rainbow 縮排上色
    Bracket Pair Colorizer 2 括弧上色
 -->
